#root {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.mainly {
  border: 1px solid black;
  max-width: 80%;
  padding: 50px;
}

.aceso,
.apagado {
  border-radius: 8px;
  text-align: center;
  padding-bottom: 2px;
  margin-bottom: 15px;
}

.aceso {
  background-color: yellow;
  box-shadow: inset 0 0 1em gold, 0 0 1em red;
}

.apagado {
  background-color: black;
  color: white;
}

.primary {
  background-color: green !important;
  margin: 2px;
  border-radius: 8px;
}

.primary:focus {
  outline: thin dotted;
  outline: 0px auto -webkit-focus-ring-color;
  outline-offset: 0px;
}
